@model User

<form asp-controller="Home" asp-action="creatUser" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label>FirstName</label>
        <input asp-for="@Model.FirstName" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="@Model.FirstName"></span>
    </div>
    <div class="form-group">
        <label>LastName</label>
        <input asp-for="@Model.LastName" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="@Model.LastName"></span>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="@Model.Email" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="@Model.Email"></span>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input asp-for="@Model.Password" type="password" class="form-control" />
        <span class="text-danger" asp-validation-for="@Model.Password"></span>
    </div>
    <div class="form-group">
        <label>DateOfBirth</label>
        <input asp-for="@Model.DateOfBirth" type="date" class="form-control" />
        <span class="text-danger" asp-validation-for="@Model.DateOfBirth"></span>
    </div>
    <div class="form-group">
        <label>Country</label>
        <input asp-for="@Model.Country" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="@Model.Country"></span>
    </div>
    <div class="form-group">
        <label>City</label>
        <input asp-for="@Model.City" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="@Model.City"></span>
    </div>
    <button type="submit" class="btn btn-primary my-5">Submit</button>
</form>